* {
    box-sizing: border-box;
  }  
  header, footer, section, article, nav, aside {
    display: block;
 }

main {
    min-height: 300px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background: LightGray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr .5fr 3fr 3fr .5fr;
    grid-gap: 10px;
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "section section aside"
        "article article aside"
        "footer footer footer";
}
header{
    background:#ac3f21;
    grid-area: header;
    text-align: center;
    padding: 0;
}  
nav {
    background: BurlyWood;
    grid-area: nav;
    text-align: center;
    padding: 10px;  
}
section{
    background:#f3cf7a;
    grid-area: section;
    padding: 20px;
    text-align: center;
}
article{
    background:#dedede;
    grid-area: article;
    padding: 20px;
}

article > p {
    padding-left: 20px;
    font-style: italic;
}
aside{
    background:#be6a15;
    grid-area: aside;
    padding: 20px;
    text-align: center;
}

aside > h3 {
    text-align: center;
}

ul {
    font-size: 1.25em;
    text-align: right;
}

li {
    margin-top: 2em;
    text-align: right;
    list-style-type: none;
}

img {
    width: 85%;
    height: auto;
}

figcaption {
    font-size: .9em;
    font-style: italic;
}


footer {
    background: #6e3b3b;
    grid-area: footer;  
    text-align: center;
    padding-top: 10px;
    color: #fff;
}
footer > a {
    font-style: italic;
}
footer > a:link {
    color: #ddd;
}

footer > a:visited {
    color: #aaa;
}
